._3ffi{display:table-cell;height:514px;vertical-align:middle}
._4cgh{margin:32px 0 80px;text-align:center}._4cgi{display:inline-block}._4cgj{margin-bottom:24px}._4cgk,._b1y{font-weight:300}._4cgk{font-size:28px;margin-bottom:12px}._b1y{margin:0 auto;width:368px}

#bootloader_g6BXx{height:42px;}.bootloader_g6BXx{display:block!important;}